<footer class="main-footer">
    <a href="https://www.instagram.com/bethnalgreen_naturereserve/" aria-label="Instagram" class="social-link" style="font-size: 1.5em; font-weight: bold;" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.bethnalgreennaturereserve.org/" aria-label="Website" class="social-link" style="font-size: 1.5em; font-weight: bold; margin-left: 10px;" target="_blank" rel="noopener noreferrer">
        <i class="fas fa-globe"></i>
    </a>
</footer>
