<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <main>
        <h1>Bat Habitat</h1>
        <!-- Content Section -->
        <section class="content-section">
            <div class="content-item">
                <p>
                    In 2017 the Phytology team launched a new bat sanctuary project - extending the natural resources of the Bethnal Green Nature Reserve to accommodate urban bat populations. The development of the sanctuary is the natural next step in our ongoing biodiversity improvement programme.
                </p>
                <p>
                    Throughout the summer of 2018 we extended the bat habitat project across East London, in collaboration with several housing associations, tenants & residents associations, and the Council.
                </p>
                <p>
                    Our network of sites includes: The Hollybush Estate, Approach Gardens, Waterloo Estate, Ion Square Gardens, The Canal Club Garden, Pritchard’s Row Day Centre, St Leonard’s Churchyard, Bow, and Haggerston Orchard.
                </p>
                <p>
                    Our resident ecologist, Olly Edmonds, delivered multiple habitat-building workshops with each community throughout spring, summer, and early autumn. The workshops included bat introduction lectures, bat box making/painting, meadow seeding, bug hotel construction, and the installation of bat roosting boxes tailored to each specific site. Olly also hosted monthly evening bat walks across the borough, showing local residents how to monitor and record local bat activity.
                </p>
                <!-- Image Section -->
                <div class="image-wrapper">
                    <img src="/images/bat.jpeg" alt="bat" class="centered-image" />
                </div>
            </div>
        </section>
    </main>
</body>
</html>

