<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <main>
        <h1>Bat Habitat</h1>
        <section class="content-section">
            <div class="content-item">
                <p>Oyster mushrooms are a group of edible fungi characterized by their oyster-shaped caps and layered gills. They grow rapidly, adapt to various substrates (such as straw, sawdust, and coconut coir), and produce multiple flushes of fruiting bodies. Their mycelium forms a white, web-like network during colonisation, and when provided with proper conditions—humidity, fresh air exchange, and temperature shifts—these mushrooms reliably fruit indoors and outdoors.</p>
                <div class="image-wrapper">
                    <img src="/images/oyster.png" alt="Oyster mushrooms" class="centered-image"/>
                </div>
                <p>Oyster mushrooms are a group of edible fungi characterized by their oyster-shaped caps and layered gills. They grow rapidly, adapt to various substrates (such as straw, sawdust, and coconut coir), and produce multiple flushes of fruiting bodies. Their mycelium forms a white, web-like network during colonisation, and when provided with proper conditions—humidity, fresh air exchange, and temperature shifts—these mushrooms reliably fruit indoors and outdoors.</p>
            </div>
        </section>
    </main>
</body>
</html>

