<!-- <% layout('layout', {title: 'Nature Reserve - Home'}) %>

<section class="map-section">
  <h1>Explore the Reserve</h1>
  <img src="/images/map.jpg" alt="Nature Reserve Map" class="map-image"/>
  <div class="map-links">
    <a href="#" class="btn">Links to events</a>
    <a href="#" class="btn">Links to volunteering</a>
  </div>
</section> -->
