<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <main>
        <h1>Medicine Garden</h1>
        <!-- Content Section -->
        <section class="content-section">
            <div class="content-item">
             
                <p>
                    The Phytology Medicinal Garden was established at Bethnal Green Nature Reserve in 2014. This urban physic garden provides free food and medicine for local and surrounding communities.
                </p>
                <p>
                    Generally regarded as weeds, the plants in the garden have been selected for their historic and ongoing use in phytotherapy*, traditional and conventional medicine. The garden has been sown with over thirty varieties of plants common to the streets of London and urban ecosystems across the country.
                </p>
                <p>
                    Plants include: Yarrow, White Dead-Nettle, Common Mallow, Marshmallow, Ribwort Plantain, Broadleaf Plantain, Dandelion, Red Clover, Feverfew, Chamomile, Cowslip, Elecampane, Mugwort, St John's Wort, Cleavers, Comfrey and Common Nettle etc.
                </p>
                <p>
                    Visitors are invited to harvest from the garden with the support of the Phytology team. The meadow grows in pollution-free soil to ensure our plants are safe from contamination and suitable for daily use.
                </p>
                <!-- Image Section -->
                <div class="image-wrapper">
                    <img src="/images/mg.jpeg" alt="plant" class="centered-image" />
                </div>
            </div>
        </section>
    </main>
</body>
</html>

