<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <main>
        <h1>Mycelium Ally</h1>
        <!-- Content Section -->
        <section class="content-section">
            <div class="content-item">
               
                <p>
                    In the Autumn of 2022 Revoke & Bethnal Green Nature Reserve co-hosted an eleven-week research, design and build project exploring mushroom and mycelium ecologies. The project was designed as an experimental school, mirroring the structure of “mycorrhizal networks”, connecting our communities with an expansive network of mentors, collaborators and mycelium growing traditions.
                </p>
                <p>
                    Several mycelium species were selected to grow at the Bethnal Green Nature Reserve, chosen for their ecological scarcity, medicinal and nutritional properties.
                </p>
                <p>
                    These include Lions Mane, Jelly Ears, Chicken of the Woods, Turkey Tails and Birch Polypore. The long-term legacy of the project is to provide food and medicine for our communities, while offering learning opportunities amongst residents, school groups and social prescribing networks.
                </p>
                <p>
                    The new mushroom habitat will also contribute towards our long-term ambition to develop the Nature Reserve into an alternative centre for learning about social and land-based ecologies.
                </p>
                <!-- Image Section -->
                <div class="image-wrapper">
                    <img src="/images/oyster.png" alt="Oyster mushrooms" class="centered-image" />
                </div>
            </div>
        </section>
    </main>
</body>
</html>

