<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%= baseUrl %>/css/style.css" />
</head>
<body>
    <main>
        <h1>Ponds/Wetland</h1>
        <!-- Content Section -->
        <section class="content-section">
            <div class="content-item">
               
                <p>
                    Introduction: In late September 2021, we began a year-long upgrade of our wetland to increase biodiversity and habitat diversity across the site, and improve access to our ponds for amphibians, birds, insects, and mammals (including humans).
                </p>
                <p>
                    Those who’ve visited since may have noticed a new resident: a larger Ecology Pond opposite the medicinal garden, in place of the old modular ponds uprooted last autumn.
                </p>
                <p>
                    Today we’re excited to share details of this transformation through the publication of our Wetland Enhancement report: a guide to our wetland’s history, why the ponds needed replacing, and our research, design, and visions for this critical urban habitat in the long term.
                </p>
                <!-- Image Section -->
                <div class="image-wrapper">
                    <img src="<%= baseUrl %>/images/pondd.jpeg" alt="pond" class="centered-image" />
                </div>
            </div>
        </section>
    </main>
</body>
</html>

